<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
     
     <bean id="noOpPasswordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"></bean>
	   <security:http auto-config="true" authentication-manager-ref="adminAuthentication" use-expressions="true" pattern="/admin/**">
		<security:intercept-url pattern="/" access="hasAuthority('admin')"/>
			<security:form-login 
		    		login-page="/adminlogin"
		    		login-processing-url="/admin/adminloginprocess"
		    		username-parameter="admin_email"
		    		password-parameter="admin_password"
		    		default-target-url="/admin/admin"
					authentication-failure-url="/adminlogin" />		
			<security:logout logout-success-url="/"/>
		<security:csrf disabled="true"/>
			
    </security:http>
    <security:authentication-manager id="adminAuthentication">
    	<security:authentication-provider>
    	<security:password-encoder
				ref="noOpPasswordEncoder"></security:password-encoder>
    		<security:jdbc-user-service data-source-ref="dataSource"
    		users-by-username-query="select admin_email,admin_password,active from admindetails where admin_email=?"
    		authorities-by-username-query="select admin_email, role from admindetails where admin_email=?"/>
    				
    	</security:authentication-provider>
    </security:authentication-manager>
    
     <security:http auto-config="true" authentication-manager-ref="vendorAuthentication" use-expressions="true" pattern="/vendor/**">
    	<security:intercept-url pattern="/vendor/**" access="hasAuthority('vendor')"/>
    	<security:intercept-url pattern="/vendor/vendorloginprocess" access="anonymous"/>
    	<security:form-login login-processing-url="/vendor/vendorloginprocess"
		    		login-page="/vendorlogin" 
		    		username-parameter="vendor_email"
		    		password-parameter="vendor_password"
		    		default-target-url="/vendor/vendor"
					authentication-failure-url="/vendorlogin" />
					
			<security:logout logout-success-url="/"/>
		<security:csrf disabled="true"/>
    </security:http>
    
    <security:authentication-manager id="vendorAuthentication">
    	<security:authentication-provider>
    	<security:password-encoder
				ref="noOpPasswordEncoder"></security:password-encoder>
    	<security:jdbc-user-service data-source-ref="dataSource"
    	users-by-username-query="select vendor_email,vendor_password,status from vendor where vendor_email=?"
    	authorities-by-username-query="select vendor_email, role from vendor where vendor_email=?"/>
    	</security:authentication-provider>
    </security:authentication-manager>
    
    <security:http auto-config="true" authentication-manager-ref="customerAuthentication" use-expressions="true" pattern="/customer/**">
    	<security:intercept-url pattern="/" access="hasAuthority('customer')"/>
    		<security:form-login login-page="/customerlogin"
    		login-processing-url="/customer/customerloginprocess"
    		username-parameter="customer_email"
    		password-parameter="customer_password"
    		default-target-url="/customer/customerindex"
    		authentication-failure-url="/customerlogin"/>
    	<security:logout logout-success-url="/"/>
    	<security:csrf disabled="true"/>
    </security:http>
    
    <security:authentication-manager id="customerAuthentication">
    <security:authentication-provider>
    <security:password-encoder  ref="noOpPasswordEncoder"></security:password-encoder>
    <security:jdbc-user-service data-source-ref="dataSource"
    	users-by-username-query="select customer_email,customer_password,active from customer where customer_email=?"
    	authorities-by-username-query="select customer_email, role from customer where customer_email=?"/>
	 </security:authentication-provider>
    </security:authentication-manager>
    
</beans>